<a href="#" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p cc class="list-group-item-text">{{recipe.description | summary}}</p>
    <p class="list-group-item-text">{{recipe.offerdate | date}}</p>
    <p class="list-group-item-text">{{recipe.offerexpirydate | date : 'yyyy/MM'}}</p>
    <p class="list-group-item-text">{{recipe.price | currency : 'EUR'}}</p>
    <p class="list-group-item-text">{{recipe.ratings}}</p>
    </div>
    
  <span class="pull-right">
      <img class="img-responsive"
           src="{{recipe.imagePath}}"
           style="max-height: 50px;"/>
    <i
    class= "glyphicon glyphicon-heart"
    [class.hightlighted] = "iLike"
    (click) = "onClick()">
    </i>
    <span>{{recipe.ratings}}</span>
</span>
  
</a>
